.container{
    border: 5px solid black;
    /* border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    font-size: larger; */
}

.row{
    border: 5px solid red;
}

/* .container-fluid{
    border: 5px solid black;
} */

/* body{
    padding-top: 20px;
} */